Flask==2.2.2
gensim==4.2.0
huggingface-hub==0.9.1
nltk==3.7
numpy==1.23.3
regex==2022.9.13
scikit-learn==1.1.2
scipy==1.9.1
tokenizers==0.12.1
torch==1.12.1
tqdm==4.64.1
traitlets==5.4.0
transformers==4.22.0
